<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon"
    href="https://codeworks.blob.core.windows.net/public/assets/cyber-range/labs/horizon-studios/logo.png"
    type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Fira+Code&amp;family=Roboto+Slab&amp;display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://codeworks.blob.core.windows.net">
  <link href="https://codeworks.blob.core.windows.net/public/assets/style/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="./assets/style/parallax.css">
  <link rel="stylesheet" href="./assets/style/style.css">
  <title>
    Horizon Studios | CodeWorks® Academy
  </title>
  <style>
    #app {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    a,
    a:hover {
      color: unset;
    }
  </style>
</head>

<body>
  <div id="app">
    <nav-component v-if="!$route?.meta?.hideNav"></nav-component>
    <main class="flex-grow-1 scrollable-y">
      <router-view></router-view>
    </main>
    <foot-component v-if="!$route?.meta?.hideFooter" />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="https://unpkg.com/vue-router@2.0.0"></script>
  <script src="https://cdn.jsdelivr.net/gh/jakeoverall/lightpath/dist/ligthpath.browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.8/sweetalert2.all.min.js"
    integrity="sha512-KMOKthdp8z/ltLlRyTUh++7dcXfkEkP2Pha9VmYZtX5x6yDaM6zw88cz6wI/yTzRqOAYlEcw4V9Ut1wwKj4j0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./state.js"></script>
  <script src="./components/app/nav.js"></script>
  <script src="./components/app/footer.js"></script>
  <script src="./components/employee.js"></script>
  <script src="./components/product-card.js"></script>
  <script src="./views/homePage.js"></script>
  <script src="./views/loginPage.js"></script>
  <script src="./views/aboutPage.js"></script>
  <script src="./views/gamePage.js"></script>
  <script src="./views/dashboardPage.js"></script>
  <script>
    Vue.component("nav-component", navComponent);
    Vue.component("foot-component", footComponent);
    Vue.component("employee-component", employeeComponent);
    Vue.component("product-card", productCard);

    const routes = [
      {
        path: "/",
        name: 'home',
        component: homePage,
      },
      {
        path: "/login",
        name: 'login',
        component: loginPage,
      },
      {
        path: "/about",
        name: 'about',
        component: aboutPage,
      },
      {
        path: "/rivers-edge",
        name: 'game',
        component: gamePage,
        meta: {
          hideFooter: true,
          hideNav: true
        }
      },
      {
        path: "/dashboard",
        name: 'dashboard',
        component: dashboardPage,
        beforeEnter(to, from, next) {
          if (!localStorage.getItem('session')) {
            next(from)
          }
          next()
        }
      },
    ];

    const router = new VueRouter({
      routes: routes,
      mode: "hash",
    });

    const dev = window.location.origin.includes('localhost')

    const $resource = new LightPath({
      baseURL: dev ? 'http://localhost:3000' : ''
    })

    var app = new Vue({
      el: "#app",
      router: router,
      data() {
        return {
          authstatus: false,
          employees: [],
          products: []
        };
      },
      async created() {
        try {
          this.products = await $resource.get('api/products') || []
          this.employees = await $resource.get('employees') || []
        } catch (e) {
          console.error('[FETCH_ERROR]', e)
        }
      },
      methods: {
        setAuthStatus(val) {
          console.log("Setting authstatus through event to: ", val);
          this.authstatus = val;
        }
      }
    });
  </script>

</body>

</html>